<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Ingredient</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="justify-content-center">
        <div class="col-md-6 offset-md-3">
            <!--/*@thymesVar id="ingredient" type="matt.project.spring5recipeapp.commands.IngredientCommand"*/-->
            <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'} " method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <h1 class="card-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Amount:</label>
                                    <input type="number" class="form-control" th:field="*{amount}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>UOM:</label>
                                    <select class="form-control" name="uom.id">
                                        <option th:each="uomEach : ${uomList}"
                                                th:value="${uomEach.id}"
                                                th:selected="${uomEach.id.equals(ingredient.uom.id)}"
                                                th:text="${uomEach.description}">Each</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>